<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Gazebo empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Robot model -->
  <param name="robot_description" textfile="$(find basic_amr_urdf)/urdf/basic_amr_gazebo.urdf" />

  <!-- Spawn the robot model -->
  <node name="movil" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model basic_amr -z 0.02" />

</launch>
